*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.image img{
   width: 100%;
   height: 100vh;
   background-image: url(./bahan-uts2024/assets/img/bg-masthead.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.text{
    margin-top: -500px;
    
}

.text h1{
    font-weight: bold;
    font-size: 90px;
    
}

.text h4{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

.button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-2 h1{
    margin-top: 400px;
font-weight: bolder;
}

.text-2 p{
    font-size: 25px;
    font-weight: 100;
}

.button-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 100px;
}

.slide-3 {
    margin-top: 100px;
    background-color: rgb(34, 122, 210);
    padding-top: 200px;
    height: 500px;
}


.slide-3 h1{
    
margin-top: -50px;
    color: white;
    
}

.text-3 p{
    margin-top: -70px;
    font-size: 15px;
    color: rgb(190, 162, 4);
    font-weight: bolder;
}

.lingkaran{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    gap: 170px;
    justify-content: center;
    align-items: center;
   
}

.circle{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
}

.circle1{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
}

.circle2{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
}

.circle3{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
}

.circle-1 h1{
margin-left: 290px;
margin-top: 10px;
font-size: 25px ;
}

.circle-1 p{
    margin-top: 10px;
    margin-left: 255px;
    color: white;
    font-size:16px;
    font-weight: 100;
}

.circle-2 h1{
    margin-left: 555px;
margin-top: -80px;
font-size: 25px ;
}

.circle-2 p{
    margin-top: 10px;
    margin-left: 510px;
    color: white;
    font-size:16px;
    font-weight: 100;
}

.circle-3 h1{
    margin-left: 843px;
margin-top: -80px;
font-size: 25px ;
}

.circle-3 p{
    margin-top: 10px;
    margin-left: 790px;
    color: white;
    font-size:16px;
    font-weight: 100;
}

.circle-4 h1{
    margin-left: 1110px;
margin-top: -80px;
font-size: 25px ;
}

.circle-4 p{
    margin-top: 10px;
    margin-left: 1075px;
    color: white;
    font-size:16px;
    font-weight: 100;
}

.slide-4{
    width: 100%;
    height: 100vh;
    margin-top: 97px;
    background-image: url(./bahan-uts2024/assets/img/bg-callout.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    align-content: center;
 }

.text-4 h1{
    color: black;
    font-size: 60px;
    font-weight: bold;
}

 .button-3{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .text-5 p{
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: rgb(190, 162, 4);
    font-weight: bolder;
 }


 .slide-5{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 500px;
}

.slide-5 h1{
color: black;
margin-top: 10px;
}

.img-1{
    background-image: url(./bahan-uts2024/assets/img/portfolio-1.jpg);
    height: 450px;
    width: 650px;
}
.img-2{
    background-image: url(./bahan-uts2024/assets/img/portfolio-2.jpg);
    height: 450px;
    width: 650px;
}
.img-3{
    background-image: url(./bahan-uts2024/assets/img/portfolio-3.jpg);
    margin-bottom: 500px;
    height: 450px;
    width: 650px;
}
.img-4{
    background-image: url(./bahan-uts2024/assets/img/portfolio-4.jpg);
    margin-bottom: 500px;
    height: 450px;
    width: 650px;
}

.portofolio{
   
    color: white;
        width: 1300px;
        height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -200px;
    }

 .img-1 p{
  margin-top: 285px;
  margin-left: 100px;
  font-weight: 100;
  font-size: 21px;
  text-align: start;
} 

 



.img-2 p{
    margin-top: 285px;
    margin-left: 100px;
    font-weight: 100;
    font-size: 21px;
    text-align: start;
  } 





  .img-3 p{
    margin-top: 285px;
    margin-left: 100px;
    font-weight: 100;
    font-size: 21px;
    text-align: start;
  } 






  .img-4 p{
    margin-top: 285px;
    margin-left: 100px;
    font-weight: 100;
    font-size: 21px;
    text-align: start;
  } 





 